@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
	--font-sans: "Be Vietnam Pro", system-ui, sans-serif;
}

:root {
	--ui-container: 64rem;
}

.dark {
	--ui-bg: var(--ui-color-neutral-950);
	--ui-bg-elevated: var(--ui-color-neutral-900);
}

/* ========================== */
/* === Custom css classes === */
/* ========================== */

/* https://vuejs.org/guide/built-ins/transition-group.html */
.list-move /* apply transition to moving elements */,
.list-enter-active,
.list-leave-active {
	transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
	opacity: 0;
	transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
	position: absolute;
}

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
	transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
	opacity: 0;
}
